<div class="card mb-3">
  <div class="overflow">
    <img
      [src]="miPortafolio.backImg"
      class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <div class="avatar mx-auto-bg-white">
      <img [src]="miPortafolio.avatarImg" class="avatar-img rounded-circle mb-3 m-auto"
        alt="Avatar" />
    </div>
    <h5 class="mb-2 text-center"><strong>{{miPortafolio.name.firstName}} {{miPortafolio.name.lastName}}</strong></h5>
    <p class="text-muted text-center ">{{miPortafolio.position}} <span class="badge bg-primary text-uppercase">{{miPortafolio.positionExperience}}</span></p>
    <div class="buttons text-center">
      <a class="btn-github me-2" href="#!" role="button">
        <i class="bi bi-github"></i>
      </a>
      <a class="btn-twitter me-2" href="#!" role="button">
        <i class="bi bi-twitter"></i>
      </a>
      <a class="btn-ig me-2" href="#!" role="button">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</div>
